SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=

SCRAPE_TIME_INTERVAL= 600 # Seconds

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_BOT_USERNAME=
TELEGRAM_DIGEST_TIME=09:00
TELEGRAM_TIMEZONE=Asia/Baku
TELEGRAM_DIGEST_LIMIT=5

FRONTEND_BASE_URL=https://vakanso.com